POSTGRES_USER=fanumfraud
POSTGRES_PASSWORD=fanumfraud
POSTGRES_DB=fanumfraud
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

ELASTICSEARCH_URL=http://elasticsearch:9200

OPENROUTER_API_KEY=
