POSTGRES_USER=fanumfraud
POSTGRES_PASSWORD=fanumfraud
POSTGRES_DB=fanumfraud
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

ELASTICSEARCH_URL=http://elasticsearch:9200

OPENROUTER_API_KEY=

COMPANY_SYNC_ON_STARTUP=true
COMPANY_SYNC_LIMIT=300
COMPANY_SYNC_INTERVAL_HOURS=24
COMPANY_REGISTRY_COUNTRY=PL
COMPANY_REGISTRY_CATEGORY=GENERAL
WATCHLIST_BOOTSTRAP_ON_STARTUP=true
WATCHLIST_FEEDS_ENABLED=true
PIPELINE_BOOTSTRAP_ON_STARTUP=true
INGEST_INTERVAL_MINUTES=15
PROCESS_INTERVAL_MINUTES=5
PROCESS_BOOTSTRAP_BATCH_SIZE=120
